@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'SF';
    font-style: normal;
    src: url(../assets/fonts/SF-Pro-Text-Medium.otf);
  }
}

/* Inject some classes */
@layer components {
  .flex-start {
    @apply flex items-center justify-start;
  }
  .flex-center {
    @apply flex items-center justify-center;
  }
  .flex-between {
    @apply flex items-center justify-between;
  }
  .flex-end {
    @apply flex items-center justify-end;
  }
  .nice-shadow {
    @apply shadow-lg rounded-sm;
  }
}
